*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

.maincontainer{
    width: 100%;
    height: 100vh;  
    animation: sky 15s linear 1s; 
}

.maincontainer img{
    width: 100%;
    position: absolute;
    bottom: 0px;
    z-index: 10;
}

@keyframes sky {
    0%{
        background-color: skyblue;
    }
    25%{
        background-color: rgb(41, 144, 193);
    }
    50%{
        background-color: rgb(243, 239, 130);
    }
    75%{
        background-color: rgb(244, 166, 22);
    }
    80%{
        background-color: rgb(59, 44, 74);
    }
    100%{
        background-color: rgb(33, 26, 39);
    }
    
}


.sun{
height: 100px;
width: 100px;
background-color: orange;
border-radius: 50%;
position: relative;
top: 30px;
left: 180px;
z-index: 1;
animation: sun 15s linear 1s;

}

@keyframes sun {
    100%{
        transform: translateY(600px);
    }
}

.moon{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: white;
position: relative;
top: 500px;
left: 80%;
z-index: 1;
animation: moon 12s linear 4s;
}
@keyframes moon {
    100%{
        transform: translateY(-600px);
    }
}